<!DOCTYPE html>
<html lang="en">

@{
    ViewData["Title"] = "Home Page";
}
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

<!DOCTYPE html>
<html lang="en">
<head>

    <!-- Basic Page Needs
      ================================================== -->
    <meta charset="utf-8">
    <title>@ViewData["Title"]</title>

    <!-- Mobile Specific Metas
      ================================================== -->
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="Construction Html5 Template">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=5.0">
    <meta name="author" content="Themefisher">
    <meta name="generator" content="Themefisher Educenter HTML Template v1.0">

    <!-- theme meta -->
    <meta name="theme-name" content="educenter" />

    <!-- ** Plugins Needed for the Project ** -->
    <!-- Bootstrap -->
    <link rel="stylesheet" href="~/plugins/bootstrap/bootstrap.min.css">
    <!-- slick slider -->
    <link rel="stylesheet" href="~/plugins/slick/slick.css">
    <!-- themefy-icon -->
    <link rel="stylesheet" href="~/plugins/themify-icons/themify-icons.css">
    <!-- animation css -->
    <link rel="stylesheet" href="~/plugins/animate/animate.css">
    <!-- aos -->
    <link rel="stylesheet" href="~/plugins/aos/aos.css">
    <!-- venobox popup -->
    <link rel="stylesheet" href="~/plugins/venobox/venobox.css">

    <!-- Main Stylesheet -->
    <link href="~/css/style.css" rel="stylesheet">

    <!--Favicon-->
    <link rel="shortcut icon" href="~/images/favicon.png" type="image/x-icon">
    <link rel="icon" href="~/images/favicon.png" type="image/x-icon">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

</head>

<body>
    <!-- preloader start -->
    <div class="preloader">
        <img src="~/images/preloader.gif" alt="preloader">
    </div>
    <!-- preloader end -->    

    <!-- navbar -->
    <div class="navigation w-100 bg-dark">
            <div class="container">
                <nav class="navbar navbar-expand-lg navbar-dark p-0">
                    <a class="navbar-brand" asp-controller="Home" asp-action="Index" style="color:white;"><img src="~/images/logo.png" alt="logo"><i><b>  fag el'gamous</b></i></a>
                    <button class="navbar-toggler rounded-0" type="button" data-toggle="collapse" data-target="#navigation"
                            aria-controls="navigation" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>

                    <div class="collapse navbar-collapse" id="navigation">
                        <ul class="navbar-nav ml-auto text-center">
                            <li class="nav-item">
                                <a class="nav-link" asp-controller="Home" asp-action="Index">Home</a>
                            </li>
                            <li class="nav-item @@courses">
                                <a class="nav-link" asp-controller="Home" asp-action="BurialRecords">Burial Records</a>
                            </li>

                            <li class="nav-item @@blog">
                                <a class="nav-link" asp-controller="Home" asp-action="Tech">Tech Stack</a>
                            </li>
                            <li class="nav-item dropdown view">
                                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    Data Analysis
                                </a>
                                <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                                    <li><a class="dropdown-item" asp-controller="Home" asp-action="Supervised">Supervised</a></li>
                                    <li><a class="dropdown-item" asp-controller="Home" asp-action="Unsupervised">Unsupervised</a></li>
                                </ul>
                            </li>
                        <li class="nav-item @@events">
                            <a class="nav-link" href="events.html">Admin Tools</a>
                        </li>
                                <partial name="_LoginPartial" />

                        <li class="nav-item">
                            <a class="nav-link" asp-area="IdentityManager" asp-controller="Home" asp-action="Roles">Roles</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" asp-area="IdentityManager" asp-controller="Home" asp-action="Users">Users</a>
                        </li>

                        </ul>
                    </div>
                </nav>
            </div>
        </div>

    <!-- navbar end -->
    <body>
        @RenderBody()
        <partial name="_CookieConsentPartial" />
    </body>
    

    
    <!-- footer -->
    <footer>
        <!-- footer content -->
        <div class="footer bg-footer section border-bottom">
            <div class="container">
                <div class="row">
                    <div class="col-lg-4 col-sm-8 mb-5 mb-lg-0">
                        <!-- logo -->
                        <a class="logo-footer" asp-controller="Home" asp-action="Index" style="color:white;"><img class="img-fluid mb-4" style="color:white;" src="~/images/logo.png" alt="logo"><i><b>fag el'gamous</b></i></a>
                        <ul class="list-unstyled">
                            <li class="mb-3"><a class="text-color" asp-controller="Home" asp-action="Privacy">Privacy Policy</a></li>
                            <li class="mb-3"><a class="text-color" href="teacher.html">Our Teacher</a></li>
                            <li class="mb-3"><a class="text-color" href="contact.html">Contact</a></li>
                            <li class="mb-3"><a class="text-color" href="blog.html">Blog</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <!-- /footer -->
    <!-- jQuery -->
    <script src="~/plugins/jQuery/jquery.min.js"></script>
    <!-- Bootstrap JS -->
    <script src="~/plugins/bootstrap/bootstrap.min.js"></script>
    <!-- slick slider -->
    <script src="~/plugins/slick/slick.min.js"></script>
    <!-- aos -->
    <script src="~/plugins/aos/aos.js"></script>
    <!-- venobox popup -->
    <script src="~/plugins/venobox/venobox.min.js"></script>
    <!-- filter -->
    <script src="~/plugins/filterizr/jquery.filterizr.min.js"></script>
    <!-- google map -->
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCcABaamniA6OL5YvYSpB3pFMNrXwXnLwU"></script>
    <script src="~/plugins/google-map/gmap.js"></script>
    <!-- Main Script -->
    <script src="~/js/script.js"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>
