@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager

@if (SignInManager.IsSignedIn(User))
{
    var user = await UserManager.GetUserAsync(User);
    if (user != null && !await UserManager.GetTwoFactorEnabledAsync(user))
    {
        <div id="MFAcheck" class="text-center">
            <p>Make sure to enable multifactor authentication <a href="/Identity/Account/Manage/TwoFactorAuthentication">here</a> so your account is safe!</p>
        </div>
    }
}