@using IdentityManagerUI.Models;
@using Microsoft.AspNetCore.Identity
@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager
<!--Partial for only displaying the 2FA banner to those who have accounts and do not have it set up yet.-->
@if (SignInManager.IsSignedIn(User))
{
    var user = await UserManager.GetUserAsync(User);
    if (user != null && !await UserManager.GetTwoFactorEnabledAsync(user))
    {
        <div id="MFAcheck" style="height: 4vh;">
            <p style="font-size: 20px;line-height: inherit;" class="text-center">Make sure to enable multifactor authentication <a href="/Identity/Account/Manage/TwoFactorAuthentication">here</a> so your account is safe!</p>
        </div>
    }
}