@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@using System.Web
@model Burial

<!-- course item -->
<div class="col-lg-4 col-sm-6 mb-5">
    <div class="card p-0 border-primary rounded-0 hover-shadow">
        <div class="card-body">
            <ul class="list-inline mb-2">
                <li class="list-inline-item"><i class="ti-calendar mr-1 text-color"></i>Date: @Model.dateofexcavation</li>
                <li class="list-inline-item"><a class="text-color" href="course-single.html">Something</a></li>
            </ul>
            <a href="course-single.html">
                <h4 class="card-title">Title</h4>
            </a>
            <p class="card-text mb-4">
                Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor
                incididunt ut labore et dolore magna.
            </p>
            <a href="course-single.html" class="btn btn-primary btn-sm">Edit</a>
            <a href="course-single.html" class="btn btn-primary btn-sm">Delete</a>

        </div>
    </div>
</div>