@*@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

@model IEnumerable<string>

<div class="d-grid gap-2 text-center">

    <a asp-controller="Home" asp-action="BurialRecords" asp-route-burialhaircolor="" asp-route-pageNum="1" class="btn @(ViewBag.SelectedType == null ? "btn-primary" : "btn-outline-secondary")">No Haircolor Filtering</a>

    @foreach (string t in Model.Where(s => !string.IsNullOrWhiteSpace(s)))
    {
        <a asp-controller="Home" asp-action="BurialRecords" asp-route-burialhaircolor="@t" asp-route-pageNum="1"
           class="btn @(ViewBag.SelectedType == t ? "btn-primary" : "btn-outline-secondary")">@t</a>
    }
</div>
<br />