@page
@model RegisterConfirmationModel
@{
    ViewData["Title"] = "Register confirmation";
}


<section class="page-title-section overlay bg-cover" style="background-image:url('https://i.postimg.cc/VLrh7szq/hierogl.jpg');">
    <div class="container">
        <div class="row">
            <div class="col-md-8">
                <ul class="list-inline mb-2">
                    <li class="list-inline-item text-white h3 font-secondary nasted">You are so close to your account being created!</li>
                </ul>
                <p class="text-lighten mb-0">
                    <a id="confirm-link" href="@Model.EmailConfirmationUrl">Click here to confirm your account</a>
                </p>
            </div>
        </div>
    </div>
</section>


