@page
@model RegisterConfirmationModel
@{
    ViewData["Title"] = "Register confirmation";
}
<!--After making an account, users can be directed to this page to confirm their email. This functionality is not currently implemented but could be in the future-->
<section class="section bg-gray">
    <div class="container">
        <div class="row">
            <div class="col-lg-7 mb-4 mb-lg-0">
                <a id="confirm-link" href="@Model.EmailConfirmationUrl" style="font-size:30px;">Click to confirm your account</a>
            </div>
        </div>
    </div>
</section>