@using Intex2023.Models.ViewModels;
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@model BurialsViewModel

<!-- page title -->
<section class="page-title-section overlay bg-cover" style="background-image:url('https://i.postimg.cc/VLrh7szq/hierogl.jpg');">
    <div class="container">
        <div class="row" style="background: #FFCD6E; opacity:0.9;">
            <div class="col-md-8">
                <ul class="list-inline custom-breadcrumb mb-2" >
                    <li class="list-inline-item"><a class="h2 font-secondary" asp-controller="Home" asp-action="Index" style="color:white;">Home</a></li>
                    <li class="list-inline-item text-white h3 font-secondary nasted">All Burial Records</li>
                </ul>
                <p class="mb-0" style="color:white;">Our courses offer a good compromise between the continuous assessment favoured by some universities and the emphasis placed on final exams by others.</p>
            </div>
        </div>
    </div>
</section>
<!-- /page title -->
<!-- courses -->
<section class="section">
    <div class="container">
        <!-- course list -->
        <div class="row justify-content-center">
            
            @foreach (Burial b in Model.burialmain)
            {
                <partial name="BurialSummary" model="b" />

            }
            


        </div>
        <!-- /course list -->
        <div page-blah="@Model.PageInfo" page-action="BurialRecords" page-classes-enabled="true"
             page-class="btn" page-class-normal="btn-outline-dark"
             page-class-selected="btn-primary" class="row justify-content-center"></div>
    </div>

</section>
<!-- /courses -->