@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@using System.Web
@model Burial

<!-- page title -->
<section class="page-title-section overlay bg-cover" style="background-image:url('https://i.postimg.cc/VLrh7szq/hierogl.jpg');">
    <div class="container">
        <div class="row">
            <div class="col-md-8">
                <ul class="list-inline custom-breadcrumb mb-2">
                    <li class="list-inline-item"><a class="h2 text-primary font-secondary" asp-controller="Home" asp-action="Index">Home</a></li>
                    <li class="list-inline-item text-white h3 font-secondary nasted">All Burial Records</li>
                </ul>
                <p class="text-lighten mb-0">Our courses offer a good compromise between the continuous assessment favoured by some universities and the emphasis placed on final exams by others.</p>
            </div>
        </div>
    </div>
</section>
<!-- /page title -->
<!-- courses -->
<section class="section">
    <div class="container">
        <!-- course list -->
        <div class="row justify-content-center">
            <!-- course item -->
            <div class="col-lg-4 col-sm-6 mb-5">
                <div class="card p-0 border-primary rounded-0 hover-shadow">
                    <div class="card-body">
                        <ul class="list-inline mb-2">
                            <li class="list-inline-item"><i class="ti-calendar mr-1 text-color"></i>Date</li>
                            <li class="list-inline-item"><a class="text-color" href="course-single.html">Something</a></li>
                        </ul>
                        <a href="course-single.html">
                            <h4 class="card-title">Title</h4>
                        </a>
                        <p class="card-text mb-4">
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor
                            incididunt ut labore et dolore magna.
                        </p>
                        <a href="course-single.html" class="btn btn-primary btn-sm">Edit</a>
                        <a href="course-single.html" class="btn btn-primary btn-sm">Delete</a>

                    </div>
                </div>
            </div>
        </div>
        <!-- /course list -->
    </div>
</section>
<!-- /courses -->