@{
    ViewData["Title"] = "Confirmation";
}

@model Burial
<!--This page lets the user know their new record went through properly-->
<h1>@ViewData["Title"]</h1>

<p>Congrats! You added a new record!</p>

