@{ ViewData["Title"] = "Delete Mummy";
}
@model Burial
<!--This page shows a confirmation to see if the user really does want to delete the record they say they do.-->
<section class="section bg-gray">
    <div class="container">
        <div class="row">
<h2>Confirm Deletion</h2>
</div>
<div class="row">
<h3>Are you sure you want to delete the record for @Model.id?</h3>
        </div>
        <div class="row">
<form method="post" asp-controller="Home" asp-action="Delete">
    <button type="submit" class="btn btn-secondary">Delete</button>
    <a asp-controller="Home" asp-action="BurialRecords" class="btn btn-primary">Cancel</a>
    <input type="hidden" asp-for="id" />
</form>

</div>
</div>
</section>