@{
    ViewData["Title"] = "Home Page";
}
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@*Just making a change, delete this later*@
    <!-- hero slider -->
<section class="hero-section overlay bg-cover" style="background-image:url('https://i.postimg.cc/ht2drfw6/gamuoshill.jpg');">
        <div class="container">
            <div class="hero-slider">
                <!-- slider item -->
                <div class="hero-slider-item">
                    <div class="row">
                        <div class="col-md-8">
                            <h1 class="text-white" data-animation-out="fadeOutRight" data-delay-out="5" data-duration-in=".3" data-animation-in="fadeInLeft" data-delay-in=".1">Over three decades of exploration</h1>
                            <p class="text-white mb-4" data-animation-out="fadeOutRight" data-delay-out="5" data-duration-in=".3" data-animation-in="fadeInLeft" data-delay-in=".4">
                                After 1000+ burials excavated and countless articles published, Fag el'Gamous continues to wow the BYU and worldwide audience.
                            </p>
                            <a asp-controller="Home" asp-action="BurialRecords" class="btn btn-primary" data-animation-out="fadeOutRight" data-delay-out="5" data-duration-in=".3" data-animation-in="fadeInLeft" data-delay-in=".7">See Records</a>
                        </div>
                    </div>
                </div>
                <!-- slider item -->
                <div class="hero-slider-item">
                    <div class="row">
                        <div class="col-md-8">
                            <h1 class="text-white" data-animation-out="fadeOutUp" data-delay-out="5" data-duration-in=".3" data-animation-in="fadeInDown" data-delay-in=".1">Using bleeding-edge technology</h1>
                            <p class="text-white mb-4" data-animation-out="fadeOutUp" data-delay-out="5" data-duration-in=".3" data-animation-in="fadeInDown" data-delay-in=".4">
                                With complex information to record and a large variance in features between burials, excavators have begun beta testing complex machine learning models to identify trends.
                            </p>
                        <a asp-controller="Home" asp-action="Supervised" class="btn btn-primary" data-animation-out="fadeOutUp" data-delay-out="5" data-duration-in=".3" data-animation-in="fadeInDown" data-delay-in=".7">Analyze Data</a>
                        </div>
                    </div>
                </div>
                <!-- slider item -->
                <div class="hero-slider-item">
                    <div class="row">
                        <div class="col-md-8">
                            <h1 class="text-white" data-animation-out="fadeOutDown" data-delay-out="5" data-duration-in=".3" data-animation-in="fadeInUp" data-delay-in=".1">Current Dig Sites</h1>
                            <p class="text-white mb-4" data-animation-out="fadeOutDown" data-delay-out="5" data-duration-in=".3" data-animation-in="fadeInUp" data-delay-in=".4">
                                By implementing a highly sophisticated quadrant mapping system, the task of tracking burial sites has become easier.
                            </p>
                        <a href="https://egypt.byu.edu/p/Arcgis" target="_blank" class="btn btn-primary" data-animation-out="fadeOutDown" data-delay-out="5" data-duration-in=".3" data-animation-in="zoomIn" data-delay-in=".7">View The Grid</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- /hero slider -->
    <!-- about us -->
    <section class="section">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-md-6 order-2 order-md-1">
                    <h2 class="section-title">History of Fag el'Gamous</h2>
                <p>There are two main parts of the BYU Egypt Excavation Project. The older remains are from the excavation of the Seila Pyramid. Our discovery of a stela with two of the names of Snefru, first king of the Fourth Dynasty, revealed who had built the pyramid. It lies 10 km due west of the Meidum Pyramid, and in terms of its elevation and the ratio of its construction, there are some clear links between the two pyramids.</p>
                <p>The Seila Pyramid has evidence for ritual activity on both the north and the eastern sides. It has a causeway on the eastern side, but no valley temple. It represents an important witness of Snefru’s innovations in regards to pyramid complexes, and play an important role in the development of pyramids. Besides the stelae, other important artifacts include an altar, the remains of a small statue, a foundation deposit jar, a model oar, and the remains of several limestone tables or altars.</p>
                <a href="https://staging.nmec.gov.eg/books/excavations-at-the-seila-pyramid-and-fag-el-gamous-cemetery/" target="_blank" class="btn btn-outline-primary">Learn more</a>
                </div>
                <div class="col-md-6 order-1 order-md-2 mb-4 mb-md-0">
                    <img class="img-fluid w-100" src="~/images/pottery.jpg" alt="pottery image">
                </div>
            </div>
        </div>
    </section>
    <!-- /about us -->
<!-- cta -->
<section class="section bg-primary">
    <div class="container">
        <div class="row">
            <div class="col-12 text-center">
                <h2 class="section-title text-white">Did you know? Fun fact of the day</h2>                
                <h6 class="text-white font-secondary mb-0">
                    After death, the pharaohs of Egypt usually were mummified and buried in elaborate tombs. Members of the nobility and officials also often received the same treatment, and occasionally, common people. However, the process was an expensive one, beyond the means of many.
                    For religious reasons, some animals were also mummified. The sacred bulls from the early dynasties had their own cemetery at Sakkara. Baboons, cats, birds, and crocodiles, which also had great religious significance, were sometimes mummified, especially in the later dynasties.
                </h6>

            </div>
        </div>
    </div>
</section>
<!-- /cta -->