@{
    ViewData["Title"] = "Privacy Policy";
}
<!-- page title -->
<section class="page-title-section overlay bg-cover" style="background-image:url('https://i.postimg.cc/zDCcR2XN/hiero.jpg');">
    <div class="container">
        <div class="row">
            <div class="col-md-8">
                <ul class="list-inline custom-breadcrumb mb-2">
                    <li class="list-inline-item"><a class="h2 text-primary font-secondary" asp-controller="Home" asp-action="Index">Home</a></li>
                    <li class="list-inline-item text-white h3 font-secondary nasted">Fag el'Gamous Privacy Policy</li>
                </ul>
                <p class="text-lighten mb-0">We pride ourselves on being GDPR compliant.</p>
            </div>
        </div>
    </div>
</section>
<!-- /page title -->

    <!-- section -->
    <section class="section-sm">
        <div class="container">
            <!-- course info -->
            <div class="row align-items-center mb-5">
                <div class="col-xl-3 order-1 col-sm-6 mb-4 mb-xl-0">
                    <h2>Privacy Policy</h2>
                </div>
                <div class="col-xl-3 text-sm-right text-left order-sm-2 order-3 order-xl-3 col-sm-6 mb-4 mb-xl-0">
                <a href="https://gdpr.eu/" target="_blank" class="btn btn-primary">Learn more about GDPR</a>
                </div>
                <!-- border -->
                <div class="col-12 mt-4 order-4">
                    <div class="border-bottom border-primary"></div>
                </div>
            </div>
            <!-- course details -->
            <div class="row">
                <div class="col-12 mb-4">
                    <h3 class="mb-3">Topics</h3>
                    <div class="col-12 px-0">
                        <div class="row">
                            <div class="col-md-6">
                                <ul class="list-styled">

                                    <li>What data do we collect?</li>
                                    <li>How do we collect your data?</li>
                                    <li>How will we use your data?</li>
                                    <li>How do we store your data?</li>
                                    <li>What are your data protection rights?</li>
                                    <li>What are cookies?</li>
                                    <li>How do we use cookies?</li>
                                    <li>What types of cookies do we use?</li>
                                    <li>How to manage your cookies</li>
                                    <li>Privacy policies of other websites</li>
                                    <li>Changes to our privacy policy</li>
                                    <li>Egypt's Data Protection Law</li>
                                    <li>How to contact us</li>
                                    <li>How to contact the appropriate authorities</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-12 mb-5">
                    <h3 class="mb-3">What data do we collect?</h3>
                    <p>Fag el'Gamous collects the following data:</p>
                    <ul class="list-styled">
                        <li>
                            Personal identification information (Name, email address, phone number, etc.)
                        </li>
                    </ul>
                </div>
                <div class="col-12 mb-5">
                    <h3>How do we collect your data?</h3>
                    <p>
                        You directly provide Fag el'Gamous with most of the data we collect. We collect data and process data when you:
                    </p>
                    <ul class="list-styled">
                        <li>Register online for any of our products or services.</li>
                        <li>Voluntarily provide feedback on any of our message boards or via email.</li>
                        <li>Use or view our website via your browser's cookies.</li>
                    </ul>

                    <p>Fag el'Gamous may also receive your data indirectly from the following sources:</p>
                    <ul class="list-styled">
                        <li>A mummy that haunts you</li>
                    </ul>
                </div>
                <div class="col-12 mb-5">
                    <h3>How will we use your data?</h3>
                    <p>Fag el'Gamous collects your data so that we can:</p>
                    <ul class="list-styled">
                        <li>Keep track of users on the website</li>
                        <li>Email you with regards to any updates from our website</li>
                    </ul>
                    <p>If you agree, Fag el'Gamous will share your data with our partner companies so that they may offer you their products and services:</p>
                    <ul class="list-styled">
                        <li>Brigham Young University</li>
                    </ul>
                </div>
                <div class="col-12 mb-5">

                    <h3>How do we store your data?</h3>
                    <p>Fag el'Gamous securely stores your data on a secure database.</p>
                    <p>Fag el'Gamous will keep your account credentials for the duration you set you want your account active for. Once this time period has expired, we will delete your data.</p>
                </div>
                <div class="col-12 mb-5">
                    <h3>What are your data protection rights?</h3>
                    <p>Fag el'Gamous would like to make sure you are fully aware of all of your data protection rights. Every user is entitled to the following:</p>
                    <ul class="list-styled">
                        <li>The right to access - You have the right to request Fag el'Gamous for copies of your personal data. We may charge you a small fee for this service.</li>
                        <li>The right to rectification - You have the right to request Fag el'Gamous correct any information you believe is inaccurate. You also have the right to request Fag el'Gamous to complete information you believe is incomplete.</li>
                        <li>The right to erasure - You have the right to request that Fag el'Gamous erase your personal data, under certain conditions.</li>
                        <li>The right to restrict processing - You have the right to request that Fag el'Gamous restrict the processing of your personal data, under certain conditions.</li>
                        <li>The right to object to processing - You have the right to object to Fag el'Gamous processing of your personal data, under certain conditions.</li>
                        <li>The right to data portability - You have the right to request that Fag el'Gamous transfer the data that we have collected to another organization, or directly to you, under certain conditions.</li>
                    </ul>
                    <p>If you make a request, we have 37 years to respond to you. If you would like to exercise any of these rights, please contact us at:</p>
                    <ul class="list-styled">
                        <li>Email: ikemelanson@gmail.com</li>
                        <li>Call us at: (801) 615-1101</li>
                    </ul>
                </div>
                <div class="col-12 mb-5">
                    <h3>What are cookies?</h3>
                    <p>Cookies are text files placed on your computer to collect standard Internet log information and visitor behavior information. When you visit our websites, we may collect information from you automatically through cookies or similar technology.</p>
                    <p>For further information, visit <a href="https://www.allaboutcookies.org/" target="_blank">allaboutcookies.org</a>.</p>

                </div>
                <div class="col-12 mb-5">
                    <h3>How do we use cookies?</h3>
                    <p>Fag el'Gamous uses cookies in a range of ways to improve your experience on our website, including:</p>
                    <ul class="list-styled">
                        <li>Keeping you signed in</li>
                        <li>Understanding how you use our website</li>
                    </ul>
                </div>
                <div class="col-12 mb-5">
                    <h3>What types of cookies do we use?</h3>
                    <p>There are a number of different types of cookies, however, our website uses:</p>
                    <ul class="list-styled">
                        <li><strong>Functionality</strong> - Fag el'Gamous uses these cookies so that we recognize you on our website and remember your previously selected preferences. These could include what language you prefer and location you are in. A mix of first-party and third-party cookies are used.</li>
                        <li><strong>Advertising</strong> - Fag el'Gamous uses these cookies to collect information about your visit to our website, the content you viewed, the links you followed and information about your browser, device, and your IP address. Our company sometimes shares some limited aspects of this data with third parties for advertising purposes. We may also share online data collected through cookies with our advertising partners. This means that when you visit another website, you may be shown advertising based on your browsing patterns on our website.</li>
                    </ul>
                </div>
                <div class="col-12 mb-5">
                    <h3>How to Manage Cookies</h3>
                    <p>You can set your browser not to accept cookies, and the above website tells you how to remove cookies from your browser. However, in a few cases, some of our website features may not function as a result.</p>

                </div>
                <div class="col-12 mb-5">
                    <h3>Privacy policies of other websites</h3>
                    <p>The Fag el'Gamous website contains links to other websites. Our privacy policy applies only to our website, so if you click on a link to another website, you should read their privacy policy.</p>
                </div>
                <div class="col-12 mb-5">
                    <h3>Changes to our privacy policy</h3>
                    <p>Fag el'Gamous keeps its privacy policy under regular review and places any updates on this web page. This privacy policy was last updated on 10 April 2023.</p>
                </div>

                <div class="col-12 mb-5">
                    <h3>Egypt's Data Protection Law</h3>
                    <p>The Law prohibits the processing of personal data without the explicit consent of individuals and gives multiple rights such as restricting access to their data, reversing prior consent, and being informed in case of any data breach.</p>
                    <p>Buy accepting the cookie notification you give consent for us to use your personal data. </p>
                </div>

                <div class="col-12 mb-5">
                    <h3>How to contact us</h3>
                    <p>If you have any questions about Fag el'Gamous privacy policy, the data we hold on you, or you would like to exercise one of your data protection rights, please do not hesitate to contact us.</p>
                    <ul class="list-styled">
                        <li>Email us at: <a href="mailto:ikemelanson@gmail.com">ikemelanson@gmail.com</a></li>
                        <li>Call us: <a href="tel:8016151101">(801) 615-1101</a></li>
                    </ul>
                </div>

                <div class="col-12 mb-5">
                    <h3>How to contact the appropriate authority</h3>
                    <p>Should you wish to report a complaint or if you feel that Fag el'Gamous has not addressed your concern in a satisfactory manner, you may contact the Information Commissioner's Office.</p>
                    <p>Email: <a href="mailto:ikemelanson@gmail.com">ikemelanson@gmail.com</a></p>
                </div>
            </div>
    </div>
</section>