@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>
<body>
    <h1>Our Company Privacy Policy</h1>
    <h2>Topics</h2>
    <ul>
        <li>What data do we collect?</li>
        <li>How do we collect your data?</li>
        <li>How will we use your data?</li>
        <li>How do we store your data?</li>
        <li>Marketing</li>
        <li>What are your data protection rights?</li>
        <li>What are cookies?</li>
        <li>How do we use cookies?</li>
        <li>What types of cookies do we use?</li>
        <li>How to manage your cookies</li>
        <li>Privacy policies of other websites</li>
        <li>Changes to our privacy policy</li>
        <li>How to contact us</li>
        <li>How to contact the appropriate authorities</li>
    </ul>
    <h2>What data do we collect?</h2>
    <p>Our Company collects the following data:</p>
    <ul>
        <li>Personal identification information (Name, email address, phone number, etc.)</li>
        <li>[Add any other data your company collects]</li>
    </ul>
    <h2>How do we collect your data?</h2>
    <p>You directly provide Our Company with most of the data we collect. We collect data and process data when you:</p>
    <ul>
        <li>Register online or place an order for any of our products or services.</li>
        <li>Voluntarily complete a customer survey or provide feedback on any of our message boards or via email.</li>
        <li>Use or view our website via your browser's cookies.</li>
        <li>[Add any other ways your company collects data]</li>
    </ul>
    <p>Our Company may also receive your data indirectly from the following sources:</p>
    <ul>
        <li>[Add any indirect source of data your company has]</li>
    </ul>
    <h2>How will we use your data?</h2>
    <p>Our Company collects your data so that we can:</p>
    <ul>
        <li>Process your order, manage your account.</li>
        <li>Email you with special offers on other products and services we think you might like. [Add how else your company uses data]</li>
    </ul>
    <p>If you agree, Our Company will share your data with our partner companies so that they may offer you their products and services.</p>
    <ul>
        <li>[List organizations that will receive data]</li>
    </ul>
</body>
<head>
    <title>Data Protection Rights</title>
</head>
<body>
    <h1>What are your data protection rights?</h1>
    <p>Our Company would like to make sure you are fully aware of all of your data protection rights. Every user is entitled to the following:</p>
    <ul>
        <li>The right to access - You have the right to request Our Company for copies of your personal data. We may charge you a small fee for this service.</li>
        <li>The right to rectification - You have the right to request that Our Company correct any information you believe is inaccurate. You also have the right to request Our Company to complete information you believe is incomplete.</li>
        <li>The right to erasure - You have the right to request that Our Company erase your personal data, under certain conditions.</li>
        <li>The right to restrict processing - You have the right to request that Our Company restrict the processing of your personal data, under certain conditions.</li>
        <li>The right to object to processing - You have the right to object to Our Company's processing of your personal data, under certain conditions.</li>
        <li>The right to data portability - You have the right to request that Our Company transfer the data that we have collected to another organization, or directly to you, under certain conditions.</li>
    </ul>
    <p>If you make a request, we have one month to respond to you. If you would like to exercise any of these rights, please contact us at:</p>
    <ul>
        <li>Email: [insert email address]</li>
        <li>Call us at: [insert phone number]</li>
        <li>Or write to us: [insert mailing address]</li>
    </ul>
</body>
<h2>What are cookies?</h2>
<p>Cookies are text files placed on your computer to collect standard Internet log information and visitor behavior information. When you visit our websites, we may collect information from you automatically through cookies or similar technology.</p>
<p>For further information, visit <a href="https://www.allaboutcookies.org/">allaboutcookies.org</a>.</p>
<h2>How do we use cookies?</h2>
<p>Our Company uses cookies in a range of ways to improve your experience on our website, including:</p>
<ul>
    <li>Keeping you signed in</li>
    <li>Understanding how you use our website</li>
    <li>[Add any uses your company has for cookies]</li>
</ul>
<h2>What types of cookies do we use?</h2>
<p>There are a number of different types of cookies, however, our website uses:</p>
<ul>
    <li><strong>Functionality</strong> - Our Company uses these cookies so that we recognize you on our website and remember your previously selected preferences. These could include what language you prefer and location you are in. A mix of first-party and third-party cookies are used.</li>
    <li><strong>Advertising</strong> - Our Company uses these cookies to collect information about your visit to our website, the content you viewed, the links you followed and information about your browser, device, and your IP address. Our Company sometimes shares some limited aspects of this data with third parties for advertising purposes. We may also share online data collected through cookies with our advertising partners. This means that when you visit another website, you may be shown advertising based on your browsing patterns on our website.</li>
</ul>
<h2>How to Manage Cookies</h2>
<p>You can set your browser not to accept cookies, and the above website tells you how to remove cookies from your browser. However, in a few cases, some of our website features may not function as a result.</p>
<h2>Privacy policies of other websites</h2>
<p>The Our Company website contains links to other websites. Our privacy policy applies only to our website, so if you click on a link to another website, you should read their privacy policy.</p>
<h3>Changes to our privacy policy</h3>
<p>Our Company keeps its privacy policy under regular review and places any updates on this web page. This privacy policy was last updated on 9 January 2019.</p>
<div>
    <h3>How to contact us</h3>
    <p>If you have any questions about Our Company's privacy policy, the data we hold on you, or you would like to exercise one of your data protection rights, please do not hesitate to contact us.</p>
    <ul>
        <li>Email us at: <a href="mailto:example@ourcompany.com">example@ourcompany.com</a></li>
        <li>Call us: <a href="tel:1234567890">123-456-7890</a></li>
        <li>
            Or write to us at:
            <address>
                123 Main St<br>
                Anytown, USA 12345
            </address>
        </li>
    </ul>
</div>
<h2>How to contact the appropriate authority</h2>
<p>Should you wish to report a complaint or if you feel that Our Company has not addressed your concern in a satisfactory manner, you may contact the Information Commissioner's Office.</p>
<p>Email: [insert email address]</p>
<p>Address: [insert address]</p>