@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}


<script>
    function noLetters(id) {

        const element = document.getElementById(id).value;

        if (element == '') {
            document.getElementById(id).value = '';
        }

    }


    async function calcPrediction() {
        const squarenorthsouth = document.getElementById("squarenorthsouth").value;
        const depth = document.getElementById("depth").value;
        const westtohead = document.getElementById("westtohead").value;
        const westtofeet = document.getElementById("westtofeet").value;
        const sex = document.getElementById("sex").value;
        const eastwest = document.getElementById("eastwest").value;
        const adultsubadult = document.getElementById("adultsubadult").value;
        const ageatdeath = document.getElementById("ageatdeath").value;

        let dictionaryForm = {};

        dictionaryForm.squarenorthsouth = squarenorthsouth || 0;
        dictionaryForm.depth = depth || 0;
        dictionaryForm.westtohead = westtohead || 0;
        dictionaryForm.westtofeet = westtofeet || 0;

        dictionaryForm.sex_M = sex == "M" ? 1 : 0;
        dictionaryForm.sex_Unknown = sex == "U" ? 1 : 0;

        dictionaryForm.eastwest_W = eastwest == "W" ? 1 : 0;

        dictionaryForm.adultsubadult_A = adultsubadult == "A" ? 1 : 0;
        dictionaryForm.adultsubadult_C = adultsubadult == "C" ? 1 : 0;

        dictionaryForm.ageatdeath_A = ageatdeath == "A" ? 1 : 0;
        dictionaryForm.ageatdeath_C = ageatdeath == "C" ? 1 : 0;
        dictionaryForm.ageatdeath_I = ageatdeath == "I" ? 1 : 0;
        dictionaryForm.ageatdeath_N = ageatdeath == "N" ? 1 : 0;

        const jsonRequest = JSON.stringify(dictionaryForm);

        var myHeaders = new Headers();
        myHeaders.append("Content-Type", "application/json");

        var requestOptions = {
            method: "POST",
            headers: myHeaders,
            body: jsonRequest,
            redirect: "follow",
        };

        const response = await fetch(
            "https://localhost:7098/score",
            requestOptions
        );

    const data = await response.json();

        prediction = data.predictedValue == 'E' ? "East" : "West"

        document.getElementById("prediction").innerHTML = prediction;
}
    </script>

<!-- page title -->
<section class="page-title-section overlay bg-cover" style="background-image:url('https://i.postimg.cc/zDCcR2XN/hiero.jpg');">
    <div class="container">
        <div class="row" style="background: #FFCD6E; opacity:0.9;">
            <div class="col-md-8">
                <ul class="list-inline custom-breadcrumb mb-2">
                    <li class="list-inline-item"><a class="h2 text-white font-secondary" asp-controller="Home" asp-action="Index">Analysis</a></li>
                    <li class="list-inline-item text-white h3 font-secondary nasted">Supervised</li>
                </ul>
                <p class="text-white mb-0">This supervised model is trained on data to predict the direction of the head of the individual who was burried. </p>
            </div>
        </div>
    </div>
</section>
<!-- /page title -->
<!-- contact -->
<section class="section bg-gray">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <h2 class="section-title">Predicting!</h2>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-7 mb-4 mb-lg-0">
                <form id="form">
                    <label for="squarenorthsouth">Square North South</label>
                    <input class="form-control" type="number" id="squarenorthsouth" oninput="noLetters('squarenorthsouth')"/>
                    <br />

                    <label for="depth">Depth</label>
                    <input class="form-control" type="number" id="depth" oninput="noLetters('depth')"/>
                    <br />

                    <label for="westtohead">West To Head</label>
                    <input class="form-control" type="number" id="westtohead" oninput="noLetters('westtohead')"/>
                    <br />

                    <label for="westtofeet">West To Feet</label>
                    <input class="form-control" type="number" id="westtofeet"oninput="noLetters('westtofeet')"/>
                    <br />

                    <label for="sex">Sex</label>
                    <select class="form-control" id="sex">
                        <option value="M">M</option>
                        <option value="F">F</option>
                        <option value="U">Unknown</option>
                    </select>
                    <br />

                    <label for="eastwest">East or West</label>
                    <select class="form-control" id="eastwest">
                        <option value="E">East</option>
                        <option value="W">West</option>
                    </select>
                    <br />

                    <label for="adultsubadult">Developmental Stage</label>
                    <select class="form-control" id="adultsubadult">
                        <option value="A">Adult</option>
                        <option value="C">Child</option>
                        <option value="U">Unknown</option>
                    </select>
                    <br />

                    <label for="ageatdeath">Age at Death</label>
                    <select class="form-control" id="ageatdeath">
                        <option value="A">Adult</option>
                        <option value="C">Child</option>
                        <option value="I">Infant</option>
                        <option value="N">Newborn</option>
                        <option value="U">Unknown</option>
                    </select>
                    <br />

                    <button type="button" class="btn btn-primary" onclick="calcPrediction()">Submit</button>
                </form>

                <br />
                <h4>We predict the body is facing:</h4>
                <br />
                <h3 id="prediction"></h3>
            </div>
            <div class="col-lg-5">
                <p class="mb-5">
                    The base rate from this data was at about 86%. After intense data cleaning and imputation we ran decission trees through various different scenaricos
                    to find out the most important factors in determining head direction. After more than 1,000 different iterations of different Decision Trees we came to the conclusion
                    that the categories on the left are the most important. The current model that is trained is at a 93% accuracy. This is 7% higher then the base rate!
                    Please use the tool to the left to determine the head direction of the individual who was burried.
                </p>
            </div>
        </div>
    </div>

</section>
<!-- /contact -->