@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<!-- page title -->
<section class="page-title-section overlay bg-cover" style="background-image:url('https://i.postimg.cc/zDCcR2XN/hiero.jpg');">
    <div class="container">
        <div class="row" style="background: #FFCD6E; opacity:0.9;">
            <div class="col-md-8">
                <ul class="list-inline custom-breadcrumb mb-2">
                    <li class="list-inline-item"><a class="h2 text-white font-secondary" asp-controller="Home" asp-action="Index">Analysis</a></li>
                    <li class="list-inline-item text-white h3 font-secondary nasted">Unsupervised</li>
                </ul>
                <p class="text-white mb-0">This was an unsupervised model were we were exploring any relationships regarding head direction of the individuals being burried.
                This model relates to our supervised model to see if we can find anything else that would confirm or disprove the original hypothesis.</p>
            </div>
        </div>
    </div>
</section>
<!-- /page title -->
<!-- blog details -->
<section class="section-sm bg-gray">
    <div class="container">
        <div class="row">
            <div class="col-4">
                <img src="~/images/us1.png" alt="Unsupervised1" class="img-fluid w-100">
            </div>
            <div class="col-4">
                <img src="~/images/us2.png" alt="Unsupervised2" class="img-fluid w-100">
            </div>
            <div class="col-4">
                <img src="~/images/us3.png" alt="Unsupervised3" class="img-fluid w-100">
            </div>

            <div class="col-12">
                <ul class="list-inline">
                    <li class="list-inline-item mr-4 mb-3 mb-md-0 text-light">April 12, 2023</li>
                </ul>
            </div>
            <!-- border -->
            <div class="col-12 mt-4">
                <div class="border-bottom border-primary"></div>
            </div>
            <!-- blog contect -->
            <div class="col-12 mb-5">
                <h2>About the model</h2>
                <p>
                    How to read the graph:<br /> <br />

                    Keep in mind that this graph was scaled so that there is no skewness in the data. If this data was not scaled then that would translate to
                    an in accuracte model. So currently all data points are on the same scale.

                    <br /><br />Depth is shown on a scale from -2 to 3. 3 being the depest that a person was burried and -2 being the closest to the surface someone was burried.
                    <br />
                    <br />Length is on a scale of -2 to 1.5. For this, length is the height of the mummy and -2 would be the shortest mummy length and 1.5 would be the tallest.<br />

                    <br />headdirection_W is on a scale of -2.5 to 0. This represent a boolean of true or false. So all the data points closest to 0 represent the individual
                    # being burried with there head facing West. So on the contrary all the data points closest to -2.5 would be facing East.<br />
                    <br />
                    Here are somethings that can be predicted from the model. This model relates to the supervised model about predicting head direction.
                    Based on what is seen on the data, a lot of the individuals were burried with their head facing east. It was a lot more common
                    in the newer generations to be burried with the head facing east. Due to inadequate data to determine whether the individual was a male or a female
                    we cannot draw any correlations to whether or not gender has any significant role in the direction of the head. From what is shown, the only strong
                    correlations that can be gathered is between depth and the direction of the head.
</div>
        </div>
    </div>
</section>
<!-- /blog details -->